.card {
    background: linear-gradient( 180deg, #1F76DE 10%, #294A71);
    padding: 10px;
}

.card2 {
    background-color: rgba(0, 0, 0, 0.453);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 15px;
}
.card2 > h3 {
    margin-top: 10px;
}
.card2 > div > h2 {
    font-family: qumpellkano12regular;
}
.button {
    padding: 5px 30px;
    margin: 10px 0px;
    background-color: rgba(0, 0, 0, 0.453);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.button > p {
    text-align: center;
    font-size: 12px;
}
.button > h4 {
    text-align: center;
}
.expense:hover {
    background-color: rgba(255, 255, 255, 0.425);
    cursor: pointer;
}
.modalBackground {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}