.chartbg {
    background: linear-gradient( 180deg, #1F76DE 10%, #294A71);
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}
.chartbg2 {
    background-color: rgba(0, 0, 0, 0.453);
    border-radius: 10px;
    height: 100%;
}