.card {
    background: linear-gradient( 180deg, #1F76DE 10%, #294A71);
    padding: 10px;
}

.card2 {
    background-color: rgba(0, 0, 0, 0.453);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 15px;
}
.card2 > h3 {
    margin-top: 10px;
    font-family: qumpellkano12regular;
}
.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    font-family: 'qumpellkano12regular';
    border-top: 1px solid white;
    font-size: 11px;
}