.container {
    background: linear-gradient(90deg, #294A71, #14202E);
    padding: 10px;
    width: 500px;
    border: #1F76DE 2px solid;
    border-radius: 30px;
}
.container > h2 {
    font-family: 'qumpellkano12regular';
}
.container2 {
    display: grid;
    grid-template-areas: 
        "expense"
        "income"
        "save";
    justify-items: center;
    margin-top: 50px;
}
.expense {
    grid-area: expense;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.422);
    width: 200px;
    text-align: center;
    padding: 10px 7px;
    margin-top: 20px;
}
.income{
    grid-area: income;
    font-size: 20px;
    font-weight: 300;
    color: white;
    border-bottom: white 1px solid;
    width: 200px;
    margin-top: 25px;
}
input[type="name"]::placeholder input[type="number"]::placeholder {
    color: white;
}
.save {
    grid-area: save;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #14202E;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: 'qumpellkano12regular';
}
.save:hover {
    background-color: #1F76DE;
    color: white;
    cursor: pointer;
}