.card {
    background: linear-gradient( 180deg, #1F76DE 10%, #294A71);
    padding: 10px;
}

.card2 {
    background-color: rgba(0, 0, 0, 0.453);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    font-family: qumpellkano12regular;
}