.layout {
    display: grid;
    grid-template-areas: 
        "title header header header"
        "sidebar main main main";
}
.layout > a {
    text-decoration: none;
    color: white;
    font-family: 'qumpellkano12regular';
}